body {
  background-color: rgb(255, 255, 255);
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-family: "Capriola", sans-serif;
  font-weight: 400;
}

h2 {
  color: #a6a6a6;
  font-size: 70px;
  font-family: "Capriola", sans-serif;
  font-weight: 400;
  padding: 25px 35px;
  margin: 30px 45px;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 70px;
  font-family: "Capriola", sans-serif;
  font-weight: 400;
  margin-bottom: 45px;
}

img {
  border-radius: 15px;
  width: 315px;
}

main {
  margin-bottom: 95px;
}

main h1 {
  font-size: 75px;
  text-align: center;
  margin: 65px 25px;
}

main p {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

footer {
  background-color: #f1f5f9;
  padding: 95px 110px;
  margin-bottom: 35px;
  margin-top: 135px;
}

a {
  color: #fc4997;
  text-decoration: none;
  margin-right: 17px;
}

.footer-paragraph {
  text-align: center;
  font-size: 30px;
  color: #a6a6a6;
}

.footer-button {
  display: block;
  margin: auto;
  color: #ffffff;
  background-color: #ff66c4;
  border-radius: 30px;
  border: none;
  padding: 17px 60px;
  margin-top: 25px;
}

.footer-button:hover {
  background-color: #fc4997;
}

.projects-details {
  color: #a6a6a6;
  margin: 15px;
  text-align: center;
}

.projects-paragraph {
  font-size: 25px;
  margin-bottom: 55px;
  color: #a6a6a6;
}

.project-info {
  color: #a6a6a6;
  line-height: 1.5;
  width: auto;
}

.hero img {
  display: block;
  margin: 0 auto;
  width: 400px;
  margin-top: 45px;
  border-radius: 35px;
}

.hero button {
  background-color: #f5f8fb;
  color: #000;
  padding: 15px 45px;
  margin: 15px 25px;
  border-radius: 30px;
  border: none;
}

.hero button:hover {
  background-color: #a6a6a6;
}

.main-section h1 {
  color: #a6a6a6;
  margin-top: 70px;
  font-size: 90px;
  font-weight: 200px;
}

.main-section button {
  color: #ffffff;
  background-color: #ff66c4;
  padding: 15px 25px;
  border-radius: 30px;
  border: none;
}

.headshot {
  border-radius: 35px;
  width: 450px;
  margin: 30px 25px;
}

.main-section p {
  color: #a6a6a6;
  line-height: 1.5;
  width: auto;
}

.qoute {
  color: #a6a6a6;
  font-size: 20px;
  margin: 20px 15px;
}

.socials {
  text-align: center;
  font-size: 30px;
  color: #ff66c4;
}

.website-by {
  color: #a6a6a6;
  font-size: 17px;
  text-align: center;
  margin: 15px;
}
