body {
  background-color: rgb(255, 255, 255);
}

h2 {
  color: #a6a6a6;
  font-size: 70px;
  padding: 25px 35px;
  margin: 30px 45px;
  text-align: center;
}

img {
  border-radius: 15px;
  width: 315px;
}

p {
  color: #a6a6a6;
  text-align: center;
  margin: 15px;
}

.hero img {
  display: block;
  margin: 0 auto;
  width: 400px;
  margin-bottom: none;
  margin-top: 45px;
  border-radius: 35px;
}

.hero button {
  background-color: #f5f8fb;
  color: #a6a6a6;
  padding: 15px 45px;
  margin: 20px 30px;
  border-radius: 30px;
  border: none;
}

.hero button:hover {
  background-color: #a6a6a6;
}

.main-section h1 {
  color: #a6a6a6;
  margin-top: 70px;
  font-size: 90px;
  font-weight: 200px;
}

.main-section button {
  color: #ffffff;
  background-color: #ff66c4;
  padding: 15px 25px;
  border-radius: 30px;
  border: none;
}

.headshot {
  border-radius: 35px;
  width: 450px;
  margin: 30px 25px;
}

.main-section p {
  color: #a6a6a6;
  line-height: 1.5;
}

.qoute {
  color: #a6a6a6;
  font-size: 20px;
  margin: 20px 15px;
}

.projects-button {
  background-color: #ff66c4;
  color: #ffffff;
  text-align: center;
}
